body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  height:100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "P1 T T T P2"

    ". D1 D2 R ."

    "P3 Z Z Z P4"
}

.P1 {
    grid-area: P1;  border: solid;
}
.P2 {
    grid-area: P2;  border: solid;
 }
.P3 {
    grid-area: P3;  border: solid;
}
.P4 {
    grid-area: P4;  border: solid;
}

.T {
    grid-area: T;  border: solid; padding:20px;
}

.Z {
    grid-area: Z;  border: white; padding:20px;
}

.D1 {
  grid-area: D1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.D2 {
  grid-area: D2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.R {
  grid-area: R;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 16px;
  padding: 0;
}

.button {
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

.trade {
  float:right;
  padding: 2px;
  margin: 2px;
  }


.player{
  font-size: 25px;
}
